@use '../base/variables' as *;

.apitemp {
  padding: 2rem;
  text-align: center;
  color: $titulos;

  h1 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }

  .nota{
    font-size: 10px;
  }

  form {
    margin-bottom: 2rem;

    label {
      display: block;
      margin-bottom: 0.5rem;
      font-weight: bold;
    }

    input {
      padding: 0.5rem;
      width: 60%;
      max-width: 300px;
      border-radius: 10px;
      border: 1px solid #000;
    }

    button {
      margin-left: 1rem;
      padding: 0.5rem 1.2rem;
      background-color: $titulos;
      color: $fundo;
      border: none;
      border-radius: 8px;
      cursor: pointer;

      &:hover {
        background-color: #f4f4f4;
      }
    }
  }
}

.resultado-dia {
  background-color: $titulos;
  padding: 2rem;
  border-radius: 1.5rem;
  margin-top: 2rem;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ccc;

  h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: $fundo;
  }

  p {
    margin: 0.5rem 0;
    color: #000;
  }

  .infos-horas {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: #f8f8f8;
    border-radius: 1rem;
    padding: 1.5rem;
    margin-top: 2rem;
    border: 1px solid #ccc;

    .agora {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-right: 1.5rem;

      h4 {
        margin-bottom: 0.5rem;
        font-weight: bold;
        font-size: 1.1rem;
        color: #000;
      }

      p {
        margin: 0.3rem 0;
        color: #000;
      }
    }
      
    .proximas-horas {
      flex: 2;
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-left: 2px solid #000;
      padding-left: 2rem;

      .hora {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.95rem;
        color: #000;
        position: relative;
        padding: 0 1rem;

        &:not(:last-child)::after {
          content: "";
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          height: 60%;
          width: 1px;
          background-color: #000;

          
        }
      }
    }
  }

  
  .inferior {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 2rem;

    > div {
      flex: 1 1 220px;
      background-color: #f4f4f4;
      border-radius: 1rem;
      padding: 1rem;
      text-align: center;
      border: 1px solid #ccc;

      p {
        margin: 0.5rem 0;
        color: #000;
      }
    }

    .outinfo {
      background-color: #eaeaea;

      .texto-outinfo {
        font-weight: bold;
        margin-bottom: 0.5rem;
      }
    }
  }
}
