@use '../base/variables' as *;


.title-contato {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    background-color: $titulos;
    padding: 0.5rem;
    border-radius: 3rem;
    max-width: 600px;
    color: $fundo;
    font-size: 1.2rem;
    box-shadow: 0 0 10px rgba($color: #CFFE00, $alpha: 1.0);
    flex: 1 1 100%;
    min-width: 50px;
    margin: 0 auto;
    margin-top: 2rem;
}

.p-sobremim{
        display: flex;
        flex-direction: column;
        justify-content: center;  
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        background-color: $titulos;
        padding: 1rem;
        border-radius: 3rem;
        max-width: 700px;
        color: $fundo;
        font-size: 1.1rem;
        box-shadow: 0 0 10px rgba($color: #CFFE00, $alpha: 1.0);
        flex: 1 1 100%;
        min-width: 50px;
        margin: 0 auto;
        margin-top: 2rem;
        font-family: sans-serif;
        line-height: 1.6rem;
    &:hover {
    transform: translateY(3px);
    box-shadow: 0 0 30px rgba($color: #CFFE00, $alpha: 1);
}
}

.div-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 3rem;
    border-radius: 3rem;
}


.Contato-icon {
      color: $mouseover;
      font-size: 5rem;
      border-radius: 3rem;
      padding: 2rem;
      

  &:hover {
    transform:scale3d(2);
    box-shadow: 0 0 5px rgba($color: #CFFE00, $alpha: 1);
      }
      }

.Contato-icon-cv {
  color: $mouseover;
  font-size: 5rem;
  border-radius: 3rem;
  padding: 2rem;
  border: 2px solid $mouseover;
  animation: neonBlink 0.5s ease-in-out infinite alternate;

  &:hover {
    transform: scale(1.2);
    box-shadow: 0 0 10px $mouseover;
  }
}

@keyframes neonBlink {
  0% {
    box-shadow: 0 0 3px $mouseover;
    filter: brightness(1);
  }
  100% {
    box-shadow: 0 0 15px $mouseover, 0 0 25px $mouseover;
    filter: brightness(1.3);
  }


}



.sub-image{
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

