.div-404{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }


.foto-404{
    max-width: 100vh;
}

.link-NotFound{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}