@use './base/reset' as*;
@use './components/Header' as*;
@use './base/variables' as*;

// @use './components/Footer' as*; // incluir depois

html, body {
  background: $fundo;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  flex-direction: column;
  display: flex;
  height: 100%;
}

.app{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main{
  flex: 1;
}